body {
   font-size: 24px;
}

h1  {
       text-align: center;
       font-size: 18pt;
       color: #1FA4C5;
       margin-bottom: 5px;
       text-decoration: underline;
       font family: Hand;
}

.works  {
      background-color: #C1DAE5;
}    

#p01 {
   font face= courier;
   color: red;
}
